body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Viga", sans-serif;
}

header h1 {
    font-weight: 600;
    font-size: 90px;
    line-height: 1;
    margin: 30px 0;
}

@media (max-width: 960px) {
    header h1 {
        font-size: 48px;
    }
}

header h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 960px) {
    header h2 {
        font-size: 20px;
    }
}

header h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

@media (max-width: 960px) {
    header h3 {
        font-size: 12px;
    }
}

header {
    background-image: url(hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Viga", sans-serif;
    color: black;
    text-align: center;
    padding: 200px 0;
    width: 100%;
}

/* @media (max-width: 960px) {
    header {
        padding: 60px 0;
    }
} */

.hero-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #272044;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
}

nav  {
    font-family: "Viga", sans-serif;
    background-color: #f5f5f5;
    border-radius: 20px;
    margin: 10px;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
    height: 90px;
}

nav span {
    color: #f95202;
}

nav p {
    font-size: 25px;
    font-weight: 600;
}

nav li {
    display: flex;
    justify-content: space-between;
    align-items: end;
    justify-content: end;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 0.8rem;
    transition: 0.1s ease-in-out;
    font-size: 20px;
}

nav a:hover {
    color: #f95202;
}



/* Styling for cart icon */
#carticon {
    color: #fff;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 20px;
}

#carticon:hover {
    color: #f95202;

}

.quantity nav {
    position: relative;
    bottom: 80px;
}

.footer {
    background-image: linear-gradient(
        rgba(7, 4, 4, 0.9),
        rgba(5, 3, 3, 0.9)
      ),
      url("paint-brush.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: white;
}

.unit-price {
    position: relative;
    top: 50px;
}

@media screen and (max-width: 768px) {
    nav .large-screen {
        display: none;
    }

    nav .small-screen {
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

    .small-screen a {
        font-weight: 500;
    }
}

@media screen and (min-width: 769px) {
    nav .small-screen {
        display: none;
    }
}



